RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^article/([0-9]+)/([0-9a-zA-Z]+) article.php?post=$1&title=$2

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^home?$ index.php 

RewriteRule ^blog?$ lixir-blog.php 

RewriteRule ^contact?$ contact.php

RewriteRule ^request-project?$ project-request.php