@font-face {
	font-family: myFont;
	src: url(newfont.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: myFont;
}
.banner {
	width: 100%;
	height: 600px;
	background: url("../images/main.jpg") center center no-repeat;
	background-size: cover;
	position: relative;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 600px;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
	background: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000',endColorstr='#000000',GradientType=0);
}
.head-container {
	width: 960px;
	height: 600px;
	position: relative;
	margin: 0 auto;
}
nav>ul {
	position: absolute;
	right: 20px;
	padding: 20px;
}
nav>ul>li {
	float: left;
	list-style: none;
	line-height: 40px;
	transition: ease-in-out .5s;
}
nav>ul>li.active {
	background-color: #d12767;
	border-radius: 6px;
}
nav>ul>li:hover:not(.active) {
	background-color: #0b192f;
	border-radius: 4px;
	transition: ease-in-out .5s;
}
nav>ul>li>a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 0 20px 0 20px;
}
.logo {
	font-size: 30px;
	position: absolute;
	color: #fff;
	padding: 20px;
	transition: ease-in-out .5s;
}
.logo:hover {
	color: #999;
	transition: ease-in-out .5s;
	cursor: pointer;
}
.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	transform: translate(-50%, -50%);
}
.banner-text .type {
	color: #fff;
	font-size: 50px;
}
.sub {
	padding: 10px 0 10px 0;
	font-size: 18px;
	font-family: Verdana, sans-serif;
	margin-bottom: 10px;
}
.banner-text>a.banner-btn {
	text-decoration: none;
	color: #fff;
	background-color: #d12767;
	padding: 10px 14px;
	border-radius: 4px;
	border: none;
}
.margin-top {
	padding: 40px 120px;
  	margin-right: auto;
   	margin-left: auto;
}
.site-content h2 {
	text-align: center;
}
.profileImage .img {
	width: 100%;
	height: 100%;
	max-height: 200px;
	max-width: 200px;
	margin-top: 40px;
	border-radius: 5px;
}
.profile-content {
 	margin-top: 40px;
 	margin-left: 20px;
 }
 .profile-content h4 {
 	padding: 5px;
 }
.profile-content span {
	color: #777;
}
.break {
	color: #d12767;
	margin-top: 20px;
}
.meter {
	height: 4px;
	width: 15%;
	background-color: #d12767;
	padding: 10px;
	display: inline-block;
}
.one {
	width: 100%;
}
.two {
	width: 100%;
}

.three {
	width: 10%;
}

.four {
	width: 20%;
}

.five {
	width: 100%;
}
.six {
	width: 3%;
}
.profileImage .img, .profile-content {
	float: left;
}
.clear {
	clear: both;
}

/*Chat Box Interface*/

.chatBot {
	height: 300px;
	border: 1px solid #0b192f;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 1;
	position: fixed;
    bottom: 20px;
    right: 10px;
    width: 300px;
    padding: 10px;
	overflow-y: auto;
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 8px 12px 0 rgb(0, 0, 0);
}
.close {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	background-color: red;
	padding: 5px;
	border-radius: 6px;
	cursor: pointer;
	border: none;
}

.close:active {
	border: none;
}
.question {
	border: 1px solid #0b192f;
	border-radius: 5px;
	width: 50%;
	margin-bottom: 10px;
	float: right;
}
.question h5 {
	background-color: #0b192f;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}
.question p {
	padding: 10px;
}
.answer {
	border: 1px solid #d12767;
	border-radius: 5px;
	width: 50%;
	margin-bottom: 30px;
}
.answer h5 {
	background-color: #d12767;
	margin-bottom: 10px;
	font-size: 18px;
	padding: 10px;
	color: #fff;
}
.answer p {
	padding: 10px;
}
.text {
	background-color: black;
	padding: 10px;
	width: 100%;
}
.form {
	background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 6px 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 300ms linear;
    width: 70%;
    font-size: 14px;
    line-height: 1.42857143;

}
.form:focus {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #333333;
}
textarea.form {
	resize: none;
	height: 35px;
	overflow: auto;
}
button {
	overflow: visible;
}
.mybtn {
	display: inline;
	background-color: #4CAF50;
	color: #FFFFFF;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    touch-action: manipulation;
}
.clickMe {
	cursor: pointer;
}

/*Chat Box Interface*/

.popup {
	padding: 20px;
}

/*COntact Style*/
.container-box {
	padding: 80px 120px;
	margin-right: auto;
    margin-left: auto;
}
.container-box:before {
	display: table;
    content: " ";
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:after, .row:before {
	box-sizing: border-box;
}
.row:after {
	display: table;
    content: " ";
}
[class*="col-"]:after, .row:after {
   content: "";
   clear: both;
   display: block;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	position: relative;
  	min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.group {
	margin-bottom: 15px;
}

.contact {
	background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 300ms linear;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;

}
.contact:focus {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #333333;
}
textarea.contact {
	height: auto;
	resize: none;
	overflow: auto;
}
button {
	overflow: visible;
}
.btn {
	display: inline-block;
	background-color: #222;
	color: #FFFFFF;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    touch-action: manipulation;
    cursor: pointer;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

/*Contact Style*/

.footer {
	text-align: center;
	background-color: #0b192f;
	color: #fff;
	font-size: 18px;
	padding: 30px;
}

@media screen and (max-width: 480px) {
	.head-container {
		width: 100%;
	}
	nav>ul {
		display: block;
	}
	nav>ul>li {
		float: none;
		display: block;
	}
}
div .date {
	color: #777;
}
.success {
	color: green; 
	font-size: 20px; 
	padding: 10px;
}
.error {
	color: red; 
	font-size: 20px; 
	padding: 10px;
}