.my-main {
	max-width: 80%;
}	
.myPara {
	color: #000; 
	letter-spacing: 1px; 
	line-height: 1.5em;
}
.options {
	margin-bottom: 10px;
}
.btn {
	display: inline-block;
	background-color: #0f9d58;
	color: #FFFFFF;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    touch-action: manipulation;
    cursor: pointer;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.correct {
	color: brown;
}
